/Aula.class
/Carrera.class
/Curso.class
/Docente.class
/Estudiante.class
/Materia.class
/DiaSemana.class
/Facultad.class
/FactoryInforme.class
/TurnoMañana.class
/TurnoTarde.class
/TurnoNoche.class
/CronogramaDocente.class
/Excel.class
/Informe.class
/PDF.class
/Pago.class
/Turno.class
